doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title All Records
    body
        header
            nav
                ul
                    li
                        a(href='/') all-records
                    li 
                        a(href='add-record') add-record   
        main
            h1 All Records
            ul
                li placeholder record one
                li placeholder record two    
                li placeholder record three   